<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }} - <a href="https://github.com/emiyl/dsi.cfw.guide" target="_blank">Codice Sorgente</a><br>
Guida realizzata da <a href="https://github.com/jerbear64" target="_blank">jerbear64</a> e <a href="https://github.com/emiyl" target="_blank">emiyl</a>.<br>
Traduzione in italiano di <a href="https://github.com/Clyde-271" target="_blank">Clyde_271</a>, <a href="https://github.com/mastercreeper66" target="_blank">Fra</a> e <a href="https://github.com/zacchi4k" target="_blank">zacchi4k</a>.
